{% extends "base_generic.html" %}
 {% load static %}
{% block sidebar %}
<li>Home</li>
<li>Vendors</li>
<li>Internal</li>
<li><a href="{% url 'articlelist' %}">External</a></li>
{% endblock %}
{% block content %}

<h1>{{ article.header_line }}</h1>

<p><strong>来源:</strong> <a href="">{{ article.reporter }}</a></p> <!-- author detail link not yet defined -->
<p><strong>发布时间：</strong>{{article.created_at}}</p>
<p><strong>正文：</strong>{{article.content}}</p>
<img src="{% static 'USSBenfold.jpg' %}" alt="图潘">
<!--<span class="img_des" >美国海军“本福德”号导弹驱逐舰资料图片 © 网络图片</span>-->
{% endblock %}>

